{% extends 'baseAdmin.html.twig' %}
{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <style>
        /* Sortable tables */
        table.sortable thead {
            background-color:#eee;
            color:#666666;
            font-weight: bold;
            cursor: default;
        }
    </style>

    <section id="container">

        <section id="main-content">
            <section class="wrapper">
                <div class="row">
                    <div class="col-lg-9 main-chart">
                        <!--CUSTOM CHART START -->
                        <div class="border-head">
                            <h3>Websites created this year at :</h3>
                        </div>
                        <div class="custom-bar-chart">
                            <div class="bar">
                                <div class="title">JAN</div>
                                <div class="value tooltips" data-original-title="{{ mounths[0]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[0]|length }}W%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">FEB</div>
                                <div class="value tooltips" data-original-title="{{ mounths[1]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[1]|length }}%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">MAR</div>
                                <div class="value tooltips" data-original-title="{{ mounths[2]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[2]|length }}%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">APR</div>
                                <div class="value tooltips" data-original-title="{{ mounths[3]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[3]|length }}%</div>
                            </div>
                            <div class="bar">
                                <div class="title">MAY</div>
                                <div class="value tooltips" data-original-title="{{ mounths[4]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[4]|length }}%</div>
                            </div>
                            <div class="bar">
                                <div class="title">JUIN</div>
                                <div class="value tooltips" data-original-title="{{ mounths[5]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[5]|length }}%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">JUIL</div>
                                <div class="value tooltips" data-original-title="{{ mounths[6]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[6]|length }}%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">AOUT</div>
                                <div class="value tooltips" data-original-title="{{ mounths[7]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[7]|length }}%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">SEP</div>
                                <div class="value tooltips" data-original-title="{{ mounths[8]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[8]|length }}%</div>
                            </div>
                            <div class="bar">
                                <div class="title">OCT</div>
                                <div class="value tooltips" data-original-title="{{ mounths[9]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[9]|length }}%</div>
                            </div>
                            <div class="bar ">
                                <div class="title">NOV</div>
                                <div class="value tooltips" data-original-title="{{ mounths[10]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[10]|length }}%</div>
                            </div>
                            <div class="bar">
                                <div class="title">DEC</div>
                                <div class="value tooltips" data-original-title="{{ mounths[11]|length }}" data-toggle="tooltip" data-placement="top">{{ mounths[11]|length }}%</div>
                            </div>

                        </div>
                        <!--custom chart end-->
                        <br>
                        <hr>
                        <!-- /row -->
                    </div>

                    <!-- /col-lg-9 END SECTION MIDDLE -->
                    <!-- **********************************************************************************************************************************************************
                        RIGHT SIDEBAR CONTENT
                        *********************************************************************************************************************************************************** -->

                    <!-- /col-lg-3 -->
                </div>



                <!-- /row -->
            </section>
            <canvas id="myChart" style="width: 5%"></canvas>
        </section>

        <script>
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for c in categories %} '{{c.name}}', {% endfor %}],
                    datasets: [{
                        label: '# of Votes',
                        data: [{% for c in categories %} {{ nbrvisites[c.id] }}, {% endfor %}],
                        backgroundColor: [
                            {% for c in categories %}
                            'rgba({{random(0,256)}}, {{random(0,256)}}, {{random(0,256)}}, 1)',
                            {% endfor %}

                        ],
                        borderColor: [
                            {% for c in categories %}
                            'rgba(0, 0, 0, 1)',
                            {% endfor %}

                        ],
                        borderWidth: 1.5
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>

    </section>


{% endblock %}